@media screen and (max-width: 768px) {
   
    header {
        margin-left: 20px;
        margin-top: 20px;
    }

    h1 {
        font-size: 24px;
        line-height: 32px;
    }

    .description {
        left: 40px;
        top: 70px;
        width: 380px;
        font-size: 12px;
        line-height: 15px;
    }

    .image img {
        width: 442px;
        height: 280px;
        left: 11px;
        top: 161.17px;
       
    }

    .recipe-ingredients {
        margin-left: 20px;
        margin-top: 520px;
    }

    #ingredients-title {
        left: 20px;
        top: 600px;
        
        font-size: 18px;
        line-height: 24px;
    }

    label {
        font-size: 14px;
    }

    .cracker-crust-content {
        width: 350px;
        margin-top: 650px;
    }

    .cracker-crust-title {
        left: 20px;  
        top: 650px;
    }
    .cheesecake-content{
        width: 380px;
    }

    .recipe-instructions {
        
        margin-top: 300px;
    }

    .instructions-content {
        width: 400px;
        margin-left: 16px;
    }

    .instructions-title {
        margin-left: 16px;
    }

    .source {
        width: 400px;
        margin-left: 16px;
        font-size: 12px;
    }

    footer {
        margin-left: -50px;
        margin-bottom: 10px;
    }
    
    .note {
        width: 430px;
        height: 100px;
        flex-wrap: wrap;
        margin-left: 10px;
        margin-top: -2540px;
        
        
    }

    .note-title {
        font-size: 8px;
        line-height: 10px;
    }
    .note-subtitle, .note-subtitle-orange  {
        font-size: 10px;
        line-height: 12px;
    }
    footer {
        margin-top: 2400px;
    }
}